<!DOCTYPE html>
<html>
<head>
    <title>OnlyApplicants</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav>
    <h1>OnlyEarn</h1>
    <a href="/jobs">Back</a>
</nav>

<h2 style="text-align:center;">Applicants</h2>

<section class="features">

    {% for a in applicants %}

    <div class="card">
        <h3>Applicant: {{ a[2] }}</h3>
        <p>Status: {{ a[3] }}</p>

        <a href="/update-status/{{ a[0] }}/Shortlisted">
            <button>Shortlist</button>
        </a>

        <a href="/update-status/{{ a[0] }}/Hired">
            <button>Hire</button>
        </a>

        <a href="/update-status/{{ a[0] }}/Rejected">
            <button>Reject</button>
        </a>

    </div>

    {% endfor %}

</section>

</body>
</html>