<!DOCTYPE html>
<html>
<head>
    <title>OnlyDashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav>
    <h1>OnlyEarn</h1>
    <a href="/logout">Logout</a>
</nav>

<section class="hero">

    <h2>Welcome {{ name }}</h2>

    <div class="features">

        <div class="card">
            <h3>OnlyProfile</h3>
            <p>{{ name }}</p>
        </div>

        <div class="card">
            <h3>OnlyJobs</h3>
            <p>0 Applied</p>
        </div>

        <div class="card">
            <h3>OnlyEarn</h3>
            <p>$0</p>
        </div>

        <div class="card">
            <h3>OnlyScore</h3>
            <p>0</p>
        </div>

    </div>

</section>

</body>
</html>
