<!DOCTYPE html>
<html>
<head>
    <title>OnlyJoin</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav>
    <h1>OnlyEarn</h1>
    <a href="/">Home</a>
</nav>

<section class="hero">

    <h2>OnlyJoin</h2>

    <form method="POST">

        <input name="name" placeholder="Name" required>
        <br><br>

        <input name="email" placeholder="Email" required>
        <br><br>

        <input name="password" type="password" placeholder="Password" required>
        <br><br>

        <button type="submit">Create Account</button>

    </form>

</section>

</body>
</html>