{% extends "base.html" %}

{% block title %}
Reset Password - OnlyEarn
{% endblock %}


{% block content %}

<section class="form-page">

    <form class="panel form-panel" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <h1>Reset Password</h1>


        <p class="muted">
            Enter the verification code sent to your email and create a new password.
        </p>


        <label>
            Reset Code

            <input
                type="text"
                name="code"
                maxlength="6"
                required>
        </label>


        <label>
            New Password

            <input
                type="password"
                name="password"
                required
                minlength="6">
        </label>


        <button class="button primary" type="submit">
            Change Password
        </button>


    </form>

</section>

{% endblock %}